* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #map { height: 100%; }
body {
    background-color: #333;
    color: #333;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
select {
    background-color: #222;
    color: white;
    font-size: 15px;
}
/* Google stuff */
.gmnoscreen, .gmnoprint a, .gm-style-cc,
div a[rel="noopener"] img {
    display: none !important;
}
#map {
    transition: filter ease 0.75s 100ms;
}
#branding {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    width: 140px;
    background: #222;
}
#branding a {
    color: inherit;
}
#logo {
    width: 100%;
}
#map-options {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    width: auto;
    height: auto;
    background: #222;
}
#year-select {
    margin-left: 5px;
}
.refreshing {
    filter: blur(1.5rem);
}
