{% extends "layout.html" %}
{% block title %}GMHS Senior Map{% endblock %}

{% block description %}See where GMHS seniors will be after graduation!{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/app/popup.css">
<link rel="stylesheet" href="/static/css/app/style.css">
{% endblock %}

        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
{% block body %}
<div id="map"></div>
<div id="branding">
    <img id="logo" src="img/gm.svg">
    <p><a href="https://goo.gl/forms/OfaIzYScOH2ENb9A3">Submit your destination here</a></p>
    <p>Senior project by <a href="https://erikboesen.com">Erik Boesen</a></p>
</div>
<script src="/static/js/app/popup.js"></script>
<script src="/static/js/app/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.2/tabletop.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1FQ56PS2iSZmeWE3mhUONtk9YqnAC9mg&callback=initMap" async defer></script>
{% endblock %}
